<div class="form">

    <ul class="tab-group">
      <li class="tab"><%= link_to "Sign Up", new_user_registration_path %></li>
      <li class="tab active"><a>Log In</a></li>
    </ul>

    <div class="tab-content">
      <div id="signup">
        <h1>Log In</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field-wrap">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field-wrap">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field-wrap">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

      </div>
    </div>

</div>
